#navBar.active {
  background-color: white;
}
#navBar.active #subMenu {
  display: block;
}
#navBar.active .header_search {
  display: block;
  border-radius: 5px;
}
#navBar.active .header_search input {
  border: 1px solid #e4e5e7;
}
#navBar.active #subMenu {
  border: 1px solid #e4e5e7;
}
/* xu ly logo */
#navBar.active .logo .light {
  display: none;
}
#navBar.active .logo .dark {
  display: block;
}
#navBar .logo .light {
  display: block;
}
#navBar .logo .dark {
  display: none;
}
/* end xu ly logo */
#navBar.active .navbar .right a {
  color: #74767e;
  font-size: 16px;
  font-weight: 600;
}
#navBar #subMenu {
  display: none;
}
#navBar .header_search {
  display: none;
}
#navBar .navbar .right li {
  display: inline-block;
  margin-left: 20px;
}

#navBar .navbar .right a {
  color: white;
  font-size: 16px;
  font-weight: 600;
}
#navBar .navbar .right .join {
  color: #1dbf73;
  border: 1px solid #1dbf73;
  border-radius: 5px;
  padding: 7px 12px;
}
#header #banner .relative img {
  min-height: 680px;
  object-fit: cover;
}
/* mobile */
#header #banner .mobile img {
  min-height: 250px;
  object-fit: cover;
}
#header #banner .mobile .bannerContent {
  transform: translateY(0);
}
#header #banner .mobile .bannerContent h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}
#mobileNavBar .header_search {
  display: none;
}
#mobileNavBar.active .header_search {
  display: block;
}
#mobileNavBar.active .header_search input {
  border: 1px solid #e4e5e7;
}
#mobileNavBar.active {
  background-color: white;
}
#mobileNavBar.active .logo {
  justify-content: center;
}
#mobileNavBar.active .logo button {
  color: black;
}
#mobileNavBar .logo .dark {
  display: none;
}
#mobileNavBar .logo .light {
  display: block;
}
#mobileNavBar.active .logo .dark {
  display: block;
}
#mobileNavBar.active .logo .light {
  display: none;
}
#mobileNavBar .navBar .subMenu {
  height: 100vh;
  transition: all 0.3s;
}
#subMenu .user {
  border: 1px solid #e4e5e7;
}
#subMenu .subMenuMobile li {
  border-bottom: 1px solid #e4e5e7;
}
/* end mobile */
#header #banner .bannerContent {
  transform: translateY(-46%);
}

#header #banner .bannerContent h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
}
#header #banner .bannerContent h4 button {
  margin: 0 5px 0 5px;
  padding: 0 5px 0 5px;
  border: 1px solid white;
  border-radius: 20px;
}
#header #banner .partner {
  background-color: #fafafa;
  padding: 10px;
}
#header #banner .partner p {
  color: #b5b6ba;
  font-weight: 600;
  margin-right: 20px;
}
#header #banner .partner img {
  margin: 10px;
}
#subMenu {
  background-color: white;
}

#subMenu .relative a::after {
  content: "";
  background: #1dbf73;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}
#subMenu .relative a:hover::after {
  width: 100%;
}
#subMenu .relative .subItem {
  display: none;
}
#subMenu .relative:hover .subItem {
  display: block;
}
