#footer{
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
#footer .subMenu ul li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#footer .subMenu .smallMenu li{
    padding: 5px 10px;
}
#footer .subMenu .smallMenu li:hover a{
    color: #1dbf73;
}
#footer .grid a{
    display: block;
    color: rgba(0, 0, 0, 0.6);
    padding: 7px 0;
}
#footer .grid p{
    color: rgba(0, 0, 0, 0.4);
}
#footer .footerDown{
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
#footer #buttonIcon{
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px 10px;
}